@charset "UTF-8";
nav{
border-bottom: 5px solid #ccc;
position: relative;
}
/* aaa */
nav ul{
/* position: absolute; */
left:10%;
display: table;
margin: 0 auto;
padding: 0;
width: 80%;
text-align: center;
}
nav ul li{
display: table-cell;
min-width: 50px;
}
nav ul li a{
display: block;
width: 100%;
height: 100%;
padding: 10px 0;
text-decoration: none;
color: #aaa;
}
nav ul li.current{
font-weight: bold;
border-top: 5px solid #00B0F0;
}
nav ul li.current a{
color: #00B0F0;
}
nav ul li a:hover{
color: #0089BB;
background-color: #FBFBDD;
}
nav ul li:hover{
border-top: 5px solid #F8E750;
}


.design01 {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
   }
   .design01 th {
    padding: 10px;
    background: #e9faf9;
    border: solid 1px #778ca3;
   }
   .design01 td {
    padding: 10px;
    border: solid 1px #778ca3;
   }



  .search_container{
    box-sizing: border-box;
  }
  .search_container input[type="text"]{
    background: #ccddf5;
    border: none;
    height: 35px;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  .search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    border: none;
    background: #3879D9;
    color: #fff;
    outline : none;
    width: 3.0em;
    height: 37px;
  }
  *,
  *:before,
  *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  .btn,
  a.btn,
  button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
  }
  
  .btn--orange,
  a.btn--orange {
    color: #fff;
    background-color: #eb6100;
  }
  
  .btn--orange:hover,
  a.btn--orange:hover {
    color: #fff;
    background: #f56500;
  }